{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "CSS/output.css" %}">
</head>
<body class="bg-gray-100">
    <h1 class="text-3xl font-serif text-blue-600 text-center py-3">Sign In</h1>
    <section class="bg-white sm:max-w-[90%] lg:max-w-[60%] rounded shadow-lg p-5 mx-auto">
    {% if messages %}
        {% for message in messages %}
            <p class="p-5 border-green-500 text-green-600 text-center">{{message}}</p>
        {% endfor %}
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        {{form}}
        <div class="flex justify-center pt-3">
            <button type="submit" class=" bg-green-500 text-white font-semibold p-2">Sign In</button>
        </div>
    </form>
    </section>
</body>
</html>