{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event-Form</title>
    <link rel="stylesheet" href="{% static "CSS/output.css" %}">
</head>
<body class="bg-gray-100">
    {% include "admin/admin_navber.html" %}

    <section class="w-full flex justify-center m-5 mx-auto">
        <div class="lg:w-[50%] md:w-[75%] w-[90%] p-4 shadow-lg bg-white rounded-md">
            <section>
                {% if messages %}
                    {% for message in messages %}
                        <div class="px-4 py-2 {% if message.tags == 'success' %}bg-green-500{% endif %}">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            </section>
            <section>
                <h2 class="text-2xl font-bold mb-4">Create New Event</h2>
                <form action="" method="POST" class="flex flex-col gap-2" enctype='multipart/form-data'>
                    {% csrf_token %}
                    {{ event_form.as_p }}
                    <button type="submit" class="bg-blue-500 text-white px-7 py-3 w-1/2 mx-auto rounded-md">Submit</button>
                </form>
            </section>    
        </div>    
    </section>

    {% include "common-templates/footer.html" %}
</body>
</html>