{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Form</title>
    <link rel="stylesheet" href="{% static "CSS/output.css" %}">
</head>
<body class="bg-gray-100">
    <section class="w-full flex justify-center">
        <div class="w-[50%] p-4 m-4 shadow-lg bg-white rounded-md">
            <header>
                {% if messages %}
                    {% for message in messages %}
                        <div class="px-4 py-2 {% if message.tags == 'success' %}bg-green-500{% endif %}">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            </header>
            <main>
                <form action="" method="POST" class="flex flex-col gap-2">
                    {% csrf_token %}
                    {{ event_form.as_p }}
                    <button type="submit" class="bg-rose-500 text-white px-7 py-3 w-1/2 mx-auto rounded-md">Submit</button>
                </form>
            </main>    
        </div>    
    </section>
</body>
</html>