{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management System</title>
    <link rel="stylesheet" href="{% static "/CSS/output.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body class="font-[Poppins] bg-gray-50">
    {% comment %} navber {% endcomment %}
    {% include "common-templates/navber.html" %}

    {% comment %} banner & stats grid {% endcomment %}
    {% block content %}

    {% endblock content %}

        <!--events-->
        <div class="container mx-auto px-6 py-12">
            <h2 class="text-3xl font-bold text-center mb-8 text-[#2C3E50]">{{title}} Events</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                <!-- Event Card 1 -->
                {% for event in events %}
                <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-lg transition-shadow">
                    <img src="https://static.inevent.com/images/event-management-software.jpg" alt="Event" class="w-full h-48 object-cover">
                    <div class="p-6">
                        <div class="text-sm text-[#18BC9C] font-semibold mb-2">{{event.date}}</div>
                        <div class="text-gray-600 flex justify-between">
                            <h3 class="text-xl font-bold mb-2">{{event.name}}</h3>
                            <span><i class="fa-solid fa-list mr-2"></i></i>{{event.category}}</span>
                        </div>
                        <p class="text-gray-600 mb-4">
                            <span><i class="fas fa-map-marker-alt mr-2"></i>{{event.location}}</span>
                        </p>
                        <div class="flex gap-5 justify-center">
                            <form action="" method='POST'>
                                <button type="submit" class="bg-[#18BC9C] text-white px-4 py-2 rounded hover:bg-[#16a085]">
                                    Edit
                                </button>
                            </form>
                            <form action="" method='POST'>
                                <button type="submit" class="bg-[#E74C3C] text-white px-4 py-2 rounded hover:bg-[#C0392B]">
                                    Delete
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- Add more event cards here -->
            </div>
        </div>    
    
    {% comment %} footer {% endcomment %}
    {% include "common-templates/footer.html" %}
</body>
</html>